release/*.boot
ebin/*.beam
erl_crash.dump
data
channels
tokens
drains
*.swp
deps/
*~
ebin/logplex.app
.eunit/
.#*
doc/*.html
doc/erlang.png
doc/stylesheet.css
doc/edoc-info
logs/
log/
test/*.beam
.edts
.DS_Store
