[submodule "deps/redis_pool"]
	path = deps/redis_pool
	url = git@git.herokai.com:erlang_redis_pool.git
[submodule "deps/mochiweb"]
	path = deps/mochiweb
	url = git@git.herokai.com:mochiweb.git
[submodule "deps/pagerduty"]
	path = deps/pagerduty
	url = git@git.herokai.com:erlang_pagerduty.git
[submodule "deps/redgrid"]
	path = deps/redgrid
	url = git@git.herokai.com:redgrid.git
[submodule "deps/redo"]
	path = deps/redo
	url = git@git.herokai.com:redo.git
[submodule "deps/nsync"]
	path = deps/nsync
	url = git@git.herokai.com:nsync.git
[submodule "deps/cowboy"]
	path = deps/cowboy
	url = git@git.herokai.com:cowboy.git
[submodule "deps/quoted"]
	path = deps/quoted
	url = git@git.herokai.com:quoted.git
