{erl_opts, [debug_info, warnings_as_errors]}.

{deps,
 [{redis, "", {git, "git://github.com/JacobVorreuter/redis_pool.git", "master"}}
 ,{mochiweb, "", {git, "git://github.com/mochi/mochiweb.git", "master"}}
 ,{pagerduty, "", {git, "git://github.com/JacobVorreuter/pagerduty.git", "master"}}
 ,{redgrid, "", {git, "git://github.com/JacobVorreuter/redgrid.git", "stable"}}
 ,{redo, "^1.1", {git, "git://github.com/JacobVorreuter/redo.git", "ba93e4ee23981c68d631ae13f9c113a212db5fec"}}
 ,{nsync, "", {git, "git://github.com/JacobVorreuter/nsync.git", "redis-2.6-compat"}}
 ,{cowboy, "", {git, "git://github.com/heroku/cowboy.git", "client_improvements"}}
 ,{quoted, "", {git, "git://github.com/pivotree/quoted.erl.git", "master"}}
 ,{gproc, "", {git, "git://github.com/uwiger/gproc.git", "master"}}
 ,{ehmon, "", {git, "git://github.com/heroku/ehmon.git", "master"}}
 ,{ex_uri, "", {git, "git://github.com/heroku/ex_uri.git", "master"}}
 ]}.
