%% vim: set ts=2 sw=2 ft=erlang et:

{overrides,
 [{override, ex_uri,
   [{plugins, [rebar3_abnfc_plugin]},
    {provider_hooks,
     [{pre,
       [{compile, {abnfc, compile}},
        {clean, {abnfc, clean}}]}]}
   ]}
 ]}.

{erl_opts,
 [debug_info,
  {parse_transform, lager_transform}
 ]}.

{deps,
 [{redis, {git, "git://github.com/heroku/redis_pool.git", {branch, "master"}}}
  ,{mochiweb, {git, "git://github.com/heroku/mochiweb.git", {tag, "R16B01"}}}
  ,{pagerduty, {git, "git://github.com/heroku/pagerduty.git", {branch, "master"}}}
  ,{redgrid, {git, "git://github.com/heroku/redgrid.git", {tag, "v1.0.3"}}}
  ,{redo, {git, "git://github.com/heroku/redo.git", {branch, "fix_erlang18_warnings"}}}
  ,{nsync, {git, "git://github.com/heroku/nsync.git", {branch, "OTP-17.4"}}}
  ,{cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "1.0.1"}}}
  ,{quoted, {git, "git://github.com/pivotree/quoted.erl.git", {branch, "master"}}}
  ,{gproc, {git, "git://github.com/uwiger/gproc.git", {branch, "master"}}}
  ,{ex_uri, {git, "git://github.com/heroku/ex_uri.git", {branch, "master"}}}
  ,{heroku_crashdumps, {git, "git://github.com/heroku/heroku_crashdumps.git", {tag, "0.1.0"}}}
  ,{lager, {git, "git://github.com/basho/lager.git", {tag, "3.0.1"}}}
  ,{batchio, {git, "git://github.com/ferd/batchio.git", {tag, "1.0.0"}}}
  ,{recon, {git, "git://github.com/ferd/recon.git", {branch, "master"}}}
  ,{folsom, {git, "https://github.com/boundary/folsom.git", {tag, "0.8.2"}}}
  ,{jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}}
  ,{folsom_cowboy, {git, "https://github.com/voidlock/folsom_cowboy.git", {branch, "folsom-compat"}}}
  ,{ssl_verify_hostname, {git, "https://github.com/deadtrickster/ssl_verify_hostname.erl.git", {tag, "1.0.5"}}}
  ,{erlang_syslog, {git, "https://github.com/heroku/erlang_syslog", {branch, "library"}}}
 ]}.

{ct_compile_opts,
 [{i, "./include/"}]}.

{ct_opts,
 [{alias, logplex, "./test/"},
  {logdir, "./logs/"},
  {suites, logplex, all}]}.

{profiles,
 [{test,
   [{deps, [{meck, {git, "https://github.com/eproxus/meck.git", {tag, "0.8.2"}}}]}]
  },
  {syslog,
   [{erl_opts, [{d, 'LOG_TO_SYSLOG'}]}]
  },
  {production,
   [{erl_opts, [{d, 'LOG_TO_SYSLOG'}]}]}]
}.
