%% vim: set ts=2 sw=2 ft=erlang et:

{overrides,
 [{override, ex_uri,
   [{plugins, [rebar3_abnfc_plugin, rebar_elixir_compiler, rebar_exunit]},
    {provider_hooks,
     [{pre,
       [{compile, {abnfc, compile}},
        {clean, {abnfc, clean}}]}]}
   ]}
 ]}.

{erl_opts,
 [debug_info,
  {parse_transform, lager_transform}
 ]}.

%% Not using elixir version 1.1 due to commit <https://github.com/elixir-lang/elixir/commit/15673d1d29b5f48b580100ffa01a7d16245f87f5> introducing an .app file thus confusing relx.

{deps,
 [{rebar_elixir_plugin, ".*", {git, "git://github.com/yrashk/rebar_elixir_plugin"}}
  ,{elixir, "1.0.*", {git, "git://github.com/elixir-lang/elixir", {tag, "v1.0"}}}
  ,{redis, {git, "git://github.com/JacobVorreuter/redis_pool.git", {branch, "master"}}}
  ,{mochiweb, {git, "git://github.com/heroku/mochiweb.git", {tag, "R16B01"}}}
  ,{pagerduty, {git, "git://github.com/JacobVorreuter/pagerduty.git", {branch, "master"}}}
  ,{redgrid, {git, "git://github.com/JacobVorreuter/redgrid.git", {tag, "v1.0.3"}}}
  ,{redo, {git, "git://github.com/JacobVorreuter/redo.git", {ref, "7c7eaef4cd65271e2fc4ea88587e848407cf0762"}}}
  ,{nsync, {git, "git://github.com/heroku/nsync.git", {branch, "OTP-17.4"}}}
  ,{cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "1.0.1"}}}
  ,{quoted, {git, "git://github.com/pivotree/quoted.erl.git", {branch, "master"}}}
  ,{gproc, {git, "git://github.com/uwiger/gproc.git", {branch, "master"}}}
  ,{ex_uri, {git, "git://github.com/heroku/ex_uri.git", {branch, "master"}}}
  ,{heroku_crashdumps, {git, "git://github.com/heroku/heroku_crashdumps.git", {tag, "0.1.0"}}}
  ,{lager, {git, "git://github.com/basho/lager.git", {tag, "3.0.1"}}}
  ,{batchio, {git, "git://github.com/ferd/batchio.git", {tag, "1.0.0"}}}
  ,{recon, {git, "git://github.com/ferd/recon.git", {branch, "master"}}}
  ,{folsom, {git, "https://github.com/boundary/folsom.git", {tag, "0.8.2"}}}
  ,{jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}}
  ,{folsom_cowboy, {git, "https://github.com/voidlock/folsom_cowboy.git", {branch, "folsom-compat"}}}
 ]}.

{ct_compile_opts,
 [{i, "./include/"}]}.

{ct_opts,
 [{alias, logplex, "./test/"},
  {logdir, "./logs/"},
  {suites, logplex, all}]}.

{lib_dirs, [
  "deps/elixir/lib"
]}.

{profiles,
 [{test,
   [{deps, [{meck, {git, "https://github.com/eproxus/meck.git", {tag, "0.8.2"}}}]}]
  }]
}.
