{erl_opts, [debug_info, warnings_as_errors]}.

{deps,
 [{lager, "", {git, "git@git.herokai.com:lager.git", "2.0.2"}}
 ,{redis, "", {git, "git@git.herokai.com:erlang_redis_pool.git", "master"}}
 ,{mochiweb, "", {git, "git@git.herokai.com:mochiweb.git", "R16B01"}}
 ,{pagerduty, "", {git, "git@git.herokai.com:erlang_pagerduty.git", "master"}}
 ,{redgrid, "", {git, "git@git.herokai.com:redgrid.git", {tag, "v1.0.3"}}}
 ,{redo, "^1.1", {git, "git@git.herokai.com:redo.git", "7c7eaef4cd65271e2fc4ea88587e848407cf0762"}}
 ,{nsync, "", {git, "git@git.herokai.com:nsync.git", "cb76900cd7443b845f9ea38c7712f603debfc844"}}
 ,{cowboy, "", {git, "git@git.herokai.com:cowboy.git", "91c0828bd28e718cc871cb268fb841cc2d010f2c"}}
 ,{quoted, "", {git, "git@git.herokai.com:quoted.git", "master"}}
 ,{gproc, "", {git, "git@git.herokai.com:gproc.git", "master"}}
 ,{ehmon, "", {git, "git@git.herokai.com:ehmon.git", "master"}}
 ,{ex_uri, "", {git, "git@git.herokai.com:ex_uri.git", "master"}}
 ,{heroku_crashdumps, "", {git, "git@git.herokai.com:heroku_crashdumps.git", {tag, "0.1.0"}}}
 ,{batchio, "", {git, "git@git.herokai.com:batchio.git", "1.0.0"}}
 ,{recon, "", {git, "git@git.herokai.com:recon.git", "master"}}
 ,{ectr, "", {git, "git@git.herokai.com:ectr.git", {tag, "0.1.1"}}}
 ]}.
