%% vim: set ts=2 sw=2 ft=erlang et:
{release, {logplex, "v89"},
 [logplex
  ,heroku_crashdumps
  ,recon]}.

{sys_config, "./config/sys.config"}.
{vm_args, "./config/vm.args"}.

{dev_mode, true}.
{include_erts, false}.
{include_src, false}.

{extended_start_script, true}.

{overlay, [{copy, "bin/connect", "bin/connect"}
          ,{copy, "bin/redgrid", "bin/regrid"}
          ,{copy, "bin/token", "bin/token"}
          ,{copy, "bin/replace_shards", "bin/replace_shards"}]}.
