{erl_opts, [debug_info, warnings_as_errors, {d,'TEST'}]}.

{deps,
 [{redis, "", {git, "git://github.com/JacobVorreuter/redis_pool.git", "master"}}
 ,{mochiweb, "", {git, "git://github.com/heroku/mochiweb.git", "R16B01"}}
 ,{pagerduty, "", {git, "git://github.com/JacobVorreuter/pagerduty.git", "master"}}
 ,{redgrid, "", {git, "git://github.com/JacobVorreuter/redgrid.git", {tag, "v1.0.3"}}}
 ,{redo, "^1.1", {git, "git://github.com/JacobVorreuter/redo.git", "7c7eaef4cd65271e2fc4ea88587e848407cf0762"}}
 ,{nsync, "", {git, "git://github.com/JacobVorreuter/nsync.git", "cb76900cd7443b845f9ea38c7712f603debfc844"}}
 ,{cowboy, "", {git, "git://github.com/heroku/cowboy.git", "91c0828bd28e718cc871cb268fb841cc2d010f2c"}}
 ,{quoted, "", {git, "git://github.com/pivotree/quoted.erl.git", "master"}}
 ,{gproc, "", {git, "git://github.com/uwiger/gproc.git", "master"}}
 ,{ehmon, "", {git, "git://github.com/heroku/ehmon.git", "master"}}
 ,{ex_uri, "", {git, "git://github.com/heroku/ex_uri.git", "master"}}
 ,{heroku_crashdumps, "", {git, "git://github.com/heroku/heroku_crashdumps.git", {tag, "0.1.0"}}}
 ,{lager, "", {git, "git://github.com/basho/lager.git", "2.0.0"}}
 ,{batchio, "", {git, "git://github.com/ferd/batchio.git", "master"}}
 ,{recon, "", {git, "git://github.com/ferd/recon.git", "master"}}
%% TESTS ONLY
 ,{meck, "", {git, "git://github.com/eproxus/meck.git", "0.8.2"}}
 ]}.
