%% -*- mode: erlang -*-
[{kernel,
  [{inet_dist_listen_min, 9100},
   {inet_dist_listen_max, 9200}
  ]},
 {lager,
  [{crash_log, undefined},
   {async_threshold, 100},
   {async_threshold_window, 20},
   {error_logger_hwm, 500},
   {handlers, [{lager_console_backend,
                [info, {lager_default_formatter, [message, "\n"]}]}]}
  ]},
 {folsom_cowboy,
  [{ip, {127,0,0,1}}]}
].
